<div class="card-container">
    <% @pokemons.each do |pokemon| %>
      <div class="pokemon-card">
        <div class="img-background">
          <img src="assets/pikachu.png" />
        </div>
        <h2> <%= pokemon.name %> </h2>
        <h3> <%= pokemon.category %> </h3>
        <p> £<%= pokemon.price %> </p>
      </div>
    <% end %>
</div>