<div class="card-container">
    <% @pokemons.each do |pokemon| %>
      <div class="pokemon-card">
        <img src="assets/pikachu.png" />
        <h2> <%= pokemon.name %> </h2>
        <p> <%= pokemon.category %> </p>
        <p> £<%= pokemon.price %> </p>
      </div>
    <% end %>
</div>