#container {
  overflow: scroll;
  padding-bottom: 96px;
}

#show-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding-bottom: 48px;
}

#show-card {
  width: 800px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  border-radius: 16px;
  background-color: #30a7d7;
  box-shadow: 2px 2px 16px #30a7d7;
  align-items: center;

  .flex {
    display: flex;
  }

  .show-actions {

  }

  a {
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 24px;
  }

  img {
    width: 300px;
    height: 300px;
    padding: 16px;
  }

  h2 {
    padding-left: 16px;
  }

  .pokeball {
  width: 40px;
  height: 40px;
  padding: 0px;
  }
}

.pokemon-review {
  margin-left: 32px;
  padding-bottom: 24px;
}

.pokemon-review:first-child {
  padding-top: 32px;
}

.pokemon-review:last-child {
  padding-bottom: 32px;
}

#review-container {
  margin-left: 32px;

  img {
    background-color: #b4eaff;
    object-fit: cover;
  }
}

.show-link {
  bottom: 0;
}

$gutter: 20px;
$caret-unit: 25px;
$bubble-bg: #30a7d7;
$bubble-color: white;
$cite-color: $bubble-color;

@function opposite-direction($directions) {
  $opposite-directions: ();
  $direction-map: (
    'top': 'bottom',
    'right': 'left',
    'bottom': 'top',
    'left': 'right',
    'center': 'center',
    'ltr': 'rtl',
    'rtl': 'ltr'
  );

  @each $direction in $directions {
    $direction: to-lower-case($direction);

    @if map-has-key($direction-map, $direction) {
      $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
    } @else {
      @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
    }
  }

  @return $opposite-directions;
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin caret($point, $border-width, $color) {
  $opposite: opposite-direction($point);
  border: $border-width solid transparent;
  border-#{$opposite}: $border-width solid $color;
  border-#{$point}: 0;
  height: 0;
  width: 0;
}

.list-group-item {
  filter: drop-shadow(-1px -1px 2px white) drop-shadow(1px 2px 2px white);
  // margin: 1rem;
  margin-bottom: ($gutter * 2);
  display: inline-block;
  padding: 1.5rem 2rem;
  position: relative;
  font-family: 'Exo', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background: $bubble-bg;
  color: $bubble-color;

  &::before {
    @include caret(bottom, ($caret-unit / 2), $bubble-bg);
    border-top-width: $caret-unit;
    content: '';
    display: block;
    position: absolute;
    left: 3rem;
    bottom: -$caret-unit;
    transform-origin: center;
    transform: rotate(90deg) skew(-(strip-unit($caret-unit))+deg) translateY($caret-unit / 1.5);
  }
}


.list-group-item cite {
  position: absolute;
  bottom: -2rem;
  left: 4.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $cite-color;
}

.rating {
  list-style-type: none;
}

.fas {
  color: #ffd823;
}