

<div class="new-booking-container">
<h2> <%="You've booking #{@booking.pokemon.name} from #{@booking.start_date.strftime('%d %B %Y')} to #{@booking.start_date.strftime('%d %B %Y')}"%>  </h2>
  <p>Change the dates below:</p>
  <%= render  "components/booking-form" %>
</div>

