<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>
<p><%= booking.user_id.email %></p>
<p><%= booking.pokemon_id.name %></p>
<p><%= link_to "Delete this booking",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>

 