h2 {
  font-family: 'Exo', sans-serif;
}

.booking-card {
  background-color: #30a7d7;
  margin-bottom: 18px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  padding-bottom: 14px;
  padding-left: 4px;
  // display: flex;

  img {
    height: 200px;
    margin:10px;
    background-color: #b4eaff;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  }

  h2 {

    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: black;
    margin:10px;
  }

  h3 {
    font-family: 'Exo', sans-serif;
    color: black;
    margin:10px;

  }

  p {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: black;
    margin:10px;
  }

  a {
    text-decoration: none;
    margin:10px;
    color: white;
  }
}

.booking-container {
  margin: 10px;
  overflow:scroll;
  padding-bottom: 80px
   

}

.new-booking-container {
  width: 500px; 
  margin:5px auto;
  padding: 10px;
  background: #30a7d7;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  box-shadow: rgba(48, 167, 215, 0.25) 0px 54px 55px, rgba(48, 167, 215, 0.12) 0px -12px 30px, rgba(48, 167, 215, 0.12) 0px 4px 6px, rgba(48, 167, 215, 0.17) 0px 12px 13px, rgba(48, 167, 215, 0.09) 0px -3px 5px;
  color: white;

}
