.btn-pokemon {
   background: #30a7d7;
   border-color: white;
   border-style: solid;
   border-width: 3px;
   border-radius: 16px;
   color: white;
   font-weight: bold;
}

.btn-pokemon:hover {
  background: white;
  color: #30a7d7;
}