.card-container {
  display:flex;
  overflow: scroll;
  flex-wrap: wrap;
  padding-bottom: 76px;
}

.pokemon-card {
  background-color: lightblue;
  margin-left: 16px;
  margin-bottom: 16px;

  img {
    width: 400px;
  }
}