.card-container {
  display:flex;
  overflow: scroll;
  flex-wrap: wrap;
  margin: 10px;
  padding-bottom: 80px;
  justify-content: space-evenly;
  text-decoration: none;
}



.pokemon-card {
  background-color: #30a7d7;
  margin-bottom: 18px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;

  img {
    align-content: center;
    width: 380px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #b4eaff;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  }

  h2 {
    margin-left: 16px;
    padding-top: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color: black;
  }

  h3 {
    margin-left: 16px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color: black;

  }

  p {
    margin-right: 20px;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 24px;
    float: right;
    color: black;
  }

  a {
    text-decoration: none;
  }
}

.img-background {
  background-colour: white;
  width: 400px;
}

.pokemon-card:hover {
  transition: 0.4s;
  box-shadow: rgba(48, 167, 215, 0.25) 0px 54px 55px, rgba(48, 167, 215, 0.12) 0px -12px 30px, rgba(48, 167, 215, 0.12) 0px 4px 6px, rgba(48, 167, 215, 0.17) 0px 12px 13px, rgba(48, 167, 215, 0.09) 0px -3px 5px;
}