<div class="battle-container">
  <h2>Review-a-mon?</h2>  
    <%= simple_form_for [ @booking, @review ] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.button :submit, class: "btn btn-primary mt-2 mb-2 mr-sm-2 text-light" %>
<% end %>
</div>